.projects-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2.5rem;

}

.project-link {
	text-decoration: none;
	color: inherit;
}

.project-card {
	background: #111;
	border: 1px solid #222;
	overflow: hidden;
	transition: all 0.3s;
	cursor: pointer;
}

.project-card:hover {
	border-color: #444;
	transform: translateY(-5px);
}

.project-thumbnail {
	width: 100%;
	height: 250px;
	background: #1a1a1a;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	color: #333;
	overflow: hidden;
}

.project-thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.project-info {
	padding: 1.5rem;
}

.project-header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 0.2rem;
}

.project-info h3 {
	font-size: 1.3rem;
	font-weight: 600;
	margin: 0;
}

.project-date {
	font-size: 0.9rem;
	color: #888;
	margin-left: 10px;
	white-space: nowrap;
}

.project-info .platform {
	font-size: 1.0rem;
	font-weight: 10;
	color: rgb(233, 233, 233);
	margin-bottom: 0.2rem;
}

.project-info .description {
	color: #888;
	font-size: 0.95rem;
	line-height: 1.6;
	min-height: 50px;
	max-height: 50px;
	margin: 0.5rem 0rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.project-info .technologies {
	display: flex;
	flex-wrap: nowrap;
	gap: 0.4rem;
	margin: 1.5rem 0;
	align-items: stretch;
	justify-content: flex-start;
	height: 40px;
	overflow: hidden;
}

.project-info .tech-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.3rem 0.85rem;
	height: 40px;
	min-height: 40px;
	border: 1px solid #333;
	border-radius: 50px;
	font-size: 0.85rem;
	color: #ccc;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.3s;
	flex-shrink: 1;
	flex-grow: 0;
	min-width: 0;
}

.project-info .tech-tag:hover {
	border-color: #666;
	color: #fff;
}


/* Mobile Responsive */
@media (max-width: 768px) {

	.projects-grid {
		grid-template-columns: 1fr;
	}
}
