.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 75px;
    width: 100%;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0 2rem;*/
    height: 100%;
    max-width: 1200px;
    min-height: 100%;
    margin: 0 auto;
	padding: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navbar-item {
    color: white;
    background-color: rgb(39, 39, 39);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.navbar-item:hover {
    color: #cccccc;
}
